body {
    background-image: url("memphis-colorful.png");
    margin-left:20px;
}
h1 {
    color: purple;
    font-size: 75px;
    padding-top: 30px;
    padding-left: 25%;
}

.Question {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Odd {
   background-color: rgba(127, 63, 191, 0.56); 
}

.Even {
    background-color: rgba(7, 172, 237, 0.36);
}

button {
    margin-left: 10%;
    cursor: pointer;
    background: black;
    color: white;
    width:  80px;
    height: 50px;
    font-size: 25px;
}

.timer {
    color: purple;
    padding-left: 170px;
}

#questionsContainer {
    color: blue;
    font-style: bold;
    font-size: 20px;
}

.results {
    margin-left: 60px;
    font-style: bold;
    font-size: 40px;
    color: green;
    
}

#timesUpMessage {
    padding-top: 50px;
}